*{  
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    height: 0;
    /* width: 0; */
    margin-left: 50px;
    margin-right: 50px;
  font-family: sans-serif;
}

#leftbox{
    /* display: flex; */
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 230px;

    border: 2px solid rgb(0, 0, 0);
    margin-left: -10px;
    background-color: rgba(209, 209, 209, 0.695);
}


/* .first{
    display: flex;
    height: 20px;
    border: 2px solid red;
} */
#ylogo{
display: flex;

}
 #youtubelogo{
    height: 20px;
    width: auto;
    margin-top: 15px;
    /* border: 2px solid red; */
    margin-left: -30px;
}
#threelines{
    height: 20px;
    width: 20px;
    /* border: 2px solid red; */
   margin-left: -20px;
   margin-top: 15px;
} 

#page{
    height: 100vh;
    width: 140.5vh;
    border: 2px solid rgb(0, 0, 0);
    margin-left: -30px;
}
#page1{
    display: flex;
    
}



#searchbar{
    display: flex;
height: 35px;
width: 500px;
border: 2px solid rgb(0, 0, 0);
margin-left: 130px;
margin-top: 5px;


}

#para{
   margin-left: 2px;
   margin-top: 5px;
}

#searchic{
  
    height: 32px;
    background-color: rgb(205, 201, 201);
    margin-left: 365px;
 
}

#firstarea{
    height: 50px;
    width: 140vh;
    /* border: 2px solid rgb(0, 0, 0); */
    margin-left: 0;
}

#voice{
    display: flex;
    height: 30px;
    width: 30px;
    margin-top: -33px;
    margin-left: 640px;
}

#video{display: flex;
    height: 30px ;
    width: 30px;
    margin-top: -30px;
    margin-left: 770px;

}

#more{
    display: flex;
    height: 30px ;
    width: 30px;
    margin-top: -30px;
    margin-left: 830px;
}
#bell{
    display: flex;
    height: 30px ;
    width: 30px;
    margin-top: -30px;
    margin-left: 880px;
}

#videos{
display: flex;
    height: auto;
    width: 140vh;
    /* border: 2px solid rgb(0, 0, 0) ; */
    margin-left: 0;

margin-top: 50px;


}

#buji{
    margin-left: 30px;
    height: 150px;
    width: 220px;
}
#note12{
    margin-left: -35px;
    height: auto;
    width: 220px;
}
#uxd{
margin-left: -35px;
height: auto;
width: 220px;
}

#kich{
    margin-left: -35px;
    height: auto;
    width: 220px;
}



#studio{
    height: auto;
    width: auto;
}

#bttons{
    margin-top: 80px;
    margin-left: -25px;
}

.buttons{
    height: 30px;
    width: 30px;
    margin-top: 2px;
}

#btnname{

margin-top: -17px;
    line-height: 37px;
    margin-left: 20px;
}

.btnm2{
    height: 30px;
    width: 30px;
    margin-top: 2px;
}


#btn2{
    margin-top: 180px;
    margin-left: -25px;
}


#word2{
    position: absolute;
    line-height: 37px;
    margin-top: -20px;
    margin-left: 20px;
  
}
#word1{
    /* position: absolute; */
    height: 100px;
    width: 140vh;
    color: black;
    /* border: 2px solid red; */
    margin-left: 0;
}
#studio{
    margin-left: 30px;
    margin-top: 5px;
}
#text1{
    margin-top: -37px;
    margin-left: 65px;

    /* font-weight: bold; */
    letter-spacing: -1.5px;
  
}

#logo2{
    height: auto;
    width: auto;
    margin-left: 265px;
    margin-top: -15px;
}

#text2{
    margin-top: -37px;
    margin-left: 300px;

    /* font-weight: bold; */
    letter-spacing: -1.3px;

}

#el48{
height: auto;
width: auto;
margin-top: -15px;
margin-left: 500px;
}
#text2{
    margin-top: -37px;
    margin-left: 300px;

    /* font-weight: bold; */
    letter-spacing: -1.3px;
}
    #text3{
        margin-top: -37px;
        margin-left: 540px;
    
        /* font-weight: bold; */
        letter-spacing: -1.3px;

    }

    #text4{
        margin-top: -13px;
        margin-left: 740px;
    
        /* font-weight: bold; */
        letter-spacing: -1.3px;
    }

    #stext{
        position: absolute;
        margin-top: 2px;
        margin-left: 740px;
    
        /* font-weight: bold; */
        letter-spacing: -1.3px;
        font-size: smaller;
    }

    #videos2{
        width: 140vh;

        /* border: 2px solid red; */
    }

    #uxds{
        height: 150px;
        width: 220px;
        margin-left: -20px;
    }

    #vid2{
        height: 150px;
        width: 220px;
        margin-left: -40px;
    }

    #vid3{
        height: 150px;
        width: 220px;
        margin-left: -40px;
    }

    #vid4{
        height: 150px;
        width: 220px;
        margin-left: -40px;
    }

    #text5{
        height: 100px;
        width: 140vh;
        /* border: 2px solid red; */
        margin-top: 150px;
        margin-left: 0;

    }
    #el43{
        height: auto;
        width: auto;
        margin-top: 5px;
        margin-left: 30px;

    }

    #text6{
        margin-top: -35px;
        margin-left: 70px;
    
        /* font-weight: bold; */
        letter-spacing: -1.3px;
    }

    #text7{
        margin-top: -15px;
        margin-left: 260px;
    
        /* font-weight: bold; */
        letter-spacing: -1.5px;
    }
    #el44{
        height: auto;
        width: auto;
        margin-top: -20px;
        margin-left: 500px;
    }
    #text8{
        margin-top: -20px;
        margin-left: 580px;
    
        /* font-weight: bold; */
        letter-spacing: -1.5px;
    }
#el45{
display: flex;
        height: auto;
        width: auto;
        margin-top: -30px;
        margin-left: 730px;
}

#text9{
    margin-top: -30px;
    margin-left: 770px;

    /* font-weight: bold; */
    letter-spacing: -1.5px;
}
    #videos3{
width: 140vh;
    }

#vide1{
    height: 150px;
    width: 220px;
    margin-left: -20px;
}
#vide2{
    height: 150px;
    width: 220px;
    margin-left: -40px;
}

#vide3{
    height: 150px;
    width: 220px;
    margin-left: -40px;
}
#vide4{
    height: 150px;
    width: 220px;
    margin-left: -40px;
}

#subs{
    margin-top: 250px;
    margin-left: -20px;
}
.lee1{
    height: 30px;
    width: 30px;
    margin-top: 10px;
    margin-left: -10px;
}
#word3{
    position: absolute;
    margin-top: 3px;
    margin-left: 30px;
    /* margin-top: px; */
    line-height: 42px;
}